html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100%;
}

body {
  font-size: 16px; 
  font-family: Helvetica;
  background: #ECF0F1;
  display: flex;
  flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}

.box {
  display: inline-block;
  margin: 0 20px;
  min-height: 330px;
  width: 250px;
  background: white;
  text-align: center;
  padding: 20px;
  padding-top: 0;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 20px 0;
    font-size: 1.3em;
    color: #333333;
}

.blue h1, .blue p {
  color: white;
}
.about {
  margin: 10px 0px;
  padding-bottom: 10px;
  font-weight: 100;
  font-size: 0.8em;
  color: #888888;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
    display: inline-block;
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
}

.logo-text {
    display: inline-block;
    font-family: 'Russo One', sans-serif;
}

.menu {
    background-color: yellowgreen;
    box-sizing: border-box;
    width: 100%;
    color: #ffffff;
}

.menu .container {
    text-align: center;
    padding: 0 75px;
}

.container {
    width: 990px;
    margin: 0 auto;
   }

   .content {
    text-align: center;
    margin-top: 25px;
}

.footer {
    background-color: gray;
    padding: 20px 0;
    color: #ffffff;
    font-weight: bold;
    opacity: 0.5;
    text-align: left;
    width: 100%;
}

.footer .container{
    padding: 0 75px;
}

.text-footer{
    display: inline-block;
}

body > footer {
    flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 300px;
    }
    .box{
        margin: 20px;
    }
    
    .menu{
        text-align: center;
    }

    .logo{
        display: inline-block;
    }

    .logo-text{
        display: none;
    }

    .footer .container{
        text-align: center;;
    }

    .text-footer{
        display: none;
    }
 }