    *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: #ffffff;
}

.logo{
    float: right;
}

.welcome{
    float: left;
}

.menu {
    background-color: yellowgreen;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 10px;
}

.content {
    max-height: 100vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.col-1-3 {
    width: 33.3333333333%;
    height: 50px;
    float: left;
}

.col-2-3 {
    width: 66.6666666667%;
    height: 50px;
    float: left;
}

.menu .welcome{
    animation: animation_welcom 2s linear   1;
}

@keyframes animation_welcom{
    from{

    }
    to{

}
}