    *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: #ffffff;
}

.logo{
    float: left;
    font-family: 'Russo One', sans-serif;
    margin-left: 15%;
}

button{
    height: 50px;
    width: 150px;
}

.menu {
    background-color: yellowgreen;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding-top: 10px;
}

.content {
    max-height: 100vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.col-1-3 {
    width: 33.3333333333%;
    float: left;
}

.col-2-3 {
    width: 66.6666666667%;
    height: auto;
    float: left;
    word-break: break-all;
}